<% provide(:title, "New Question") %>

<%= render "layouts/nav_admin_top" %>

<div class="container-fluid">
  <div class="row signup-row cont-q">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="tab-signup">
        <div class="tab-pane active" id="client-signup">
          <%= render "shared/forms/question_form" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>