<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @user.name %>,</p>

    <p>To reset your password, click the URL below.</p>

    <a href="<%= password_reset_url(@user.password_reset_token) %>"><%= password_reset_url(@user.password_reset_token) %></a>

    <p>If you did not request your password to be reset, just ignore this email and your password will continue to stay the same.</p>
  </body>
</html>
