<% provide(:title, "Admin Login") %>

<div class="container-fluid">
  <div class="row login-bg">
    <div class="col-lg-12">
      <div class="login-container">
        <div class="login-header text-center"><span class="vet">Vet</span><span class="rounds">Rounds Admin</span></div>
        <%= form_for :session, url: admin_login_post_path, html: {class: "login-form"} do |f| %>
          <div class="form-group">
            <%= f.text_field :email, :class => "form-control", :placeholder => "Email" %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
          </div>
          <div class="form-group text-center">
            <button class="btn btn-primary">Login</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
