<div class="container-fluid" id="active-content">
  <div class="row">
    <div class="col-md-3">Name</div>
    <div class="col-md-9">Question</div>
  </div>
  <div class="row">
    <div class="col-md-3">Vet</div>
    <div class="col-md-9">Answer</div>
  </div>
</div>