<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A question has been asked by <%= @question.user.name %></h1>
    <p>Here is the question: <br> <%= @question.content %> </p>
    <p> <%= link_to("Click here to answer the question", "http://questions.vetpronto.com/#{question_show_path(@question)}") %>
	</p>
    <p>
      When you have a chance, you should log in and answer their question</p>
  </body>
</html>