.front-page {
    font-weight: bold;
    text-align: center;

    /*
    background-image: url(image-path('home-bg1.jpg'));
    min-height: 1100px;
    background-size: auto 1080px;
    background-position: center;
    background-repeat: no-repeat;
    */

    h2 {
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        text-align: center;
        font-family: 'Allan', Helvetica, Arial, sans-serif;
    }

    .top-vet-label {
        padding-top: 15px;
        font-weight: bold;
    }

    #vet-content {
        display: none;
    }

    #client-content {
        display: none;
    }

    p, div {
        font-family: 'Cardo', Georgia, Times, serif;
    }

    .splash-header {
        padding-top: 15%;
        padding-bottom: 15%;
    }

}

    
.btn-xlg {
    padding: 18px 34px;
    font-size: 28px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }