<footer>
  <div class="container">
    <div class="row footer-row2">
      <div class="col-lg-12">
        <span class="vet-foot">Vetpronto.com</span>
      </div>
      <div>
      <a href="mailto:info@vetpronto.com?Subject=Vetpronto Question"> Contact Us </a>    
	  </div>
    </div>
  </div>
</footer>