<footer>
  <div class="container">
    <div class="row footer-row2">
      <div class="col-lg-12">
        <span>&copy; Copyright 2014. All rights reserved</span> <span class="vet-foot">Vetrounds.com</span>
      </div>
      <div>
      <a href="mailto:joe@vetrounds.com?Subject=Vetrounds"> Contact Us </a>    
	  </div>
    </div>
  </div>
</footer>